body {
  background-color: #fc79d1;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  color: white;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Gill Sans";
}

.intro {
  text-align: center;
  letter-spacing: 5px;
  line-height: 4;
  font-size: 20px;
  font-weight: bold;
  font-family: "Garamond";
  padding: 200px;
}

.topTitle {
  color: white;
  font-size: 2.5em;
  text-align: center;
  padding: 20px;
  font-family: "Gill Sans";
}